* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Header*/
.header {
  position: sticky;
  top: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  z-index: 1;
}

/* Sidebar*/
.sidebar {
  position: absolute;
  top: 100px;
  left: 0;
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
}

.sidebar img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.main-content {
  position: relative;
  margin-left: 220px; /* To make room for the sidebar */
  padding: 20px;
  background-color: #ffffff;
  height: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Floating Button */
.floating-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 15px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}
