/*styles from challenge*/
:root {
  --DesktopBgP: ".\images\image-header-desktop.jpg";
  --MobileBgP: ".\images\image-header-mobile";
  /*layout*/
  --Mobile: 375px;
  --Desktop: 1440px;
  /*colors*/
  /*Primary*/
  /*main background*/
  --VeryDarkBlue: hsl(233, 47%, 7%);
  /*card background*/
  --DarkDesaturatedBlue: hsl(244, 38%, 16%);
  /*accent*/
  --SoftViolet: hsl(277, 64%, 61%);
  /*Neutral*/
  /*main heading, stats*/
  --White: hsl(0, 0%, 100%);
  /*main paragraph*/
  --SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
  /*stat headings*/
  --SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);

  --FontSize: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--VeryDarkBlue);
  display: flex;
  justify-content: center;
}
.highlight {
  color: var(--SoftViolet);
}
.sub {
  color: gray;
  font-size: 8px;
}
.image {
  background-color: var(--SoftViolet);
  max-width: 100%;
}
.container {
  border-radius: 20px;
  margin: 60px;
  background-color: var(--DarkDesaturatedBlue);
  overflow: hidden;
}
.content {
  color: var(--White);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: var(--Mobile)) {
  .image {
    src: var(--MobileBgP);
  }
}
@media (min-width: var(--Desktop)) {
  .image {
    src: var(--DesktopBgP);
  }
}
