img.formIcon {
  padding: 1rem;
  background-color: var(--color-p-DarkBlue-600);
  border: solid 0px;
  border-radius: 360px;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 26px;
  font-weight: var(--font-wight-700);
}
.formP {
  text-align: start;
  color: var(--color-p-Light-Grey-200);
  font-weight: var(--font-wight-400);
  margin-bottom: 2rem;
}
div.rateButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 0px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
div.rateButton button {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: var(--font-size);
  color: var(--color-p-Light-Grey-200);
  width: 50px;
  height: 50px;
  background-color: var(--color-p-DarkBlue-600);
  border: 0px solid;
  border-radius: 50%;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-weight: var(--font-wight-700);
}
.submitButton {
  font-size: var(--font-size);
  font-weight: var(--font-wight-700);
  background-color: var(--color-p-Orange-500);
  letter-spacing: 0.15rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
button.submitButton:hover {
  background-color: var(--color-p-White-100);
  color: var(--color-p-Very-Dark-Blue-800);
}

div.rateButton button:hover {
  background-color: var(--color-p-Orange-500);
  color: var(--color-p-Very-Dark-Blue-800);
}
