* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 16px;
  font-family: Outfit;
  font-weight: 100;
}
h1,
h2 {
  font-family: Young-Serif;
}
body {
  background-color: var(--color-white-100);
}
